body {
    background-color:white;
    color:black;
    font-family:arial;        
}
h1{
    color:gray;
    font-family:verdana;
}

.maindiv{
     background-color:white;
     color:black;
     width:300px;
     padding:20px;
}

